.carrito{
    width: 60px;
    height: 60px;
    filter: brightness(0) invert(1);
}

.contador{
    color: white;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}